@model Paiol_EIBC.Models.CautelaDevolvida


<div class="container" style="border: 1px solid; margin-bottom:10px;">
    <div class="row">
        
            <div class="col-md-12" style="align-items:center; text-align:center; justify-items:center;">
                    <h3>BATALHÃO DE COMBATE AÉREO</h3>
                    <h4>CONTROLE DE ENTRADA DE MATERIAL(PAIOL-EIBC)</h4>
                    <h4> DEVOLUÇÂO CAUTELA</h4>
                </div>
               
                <form asp-action="Create" method="post" asp-controller="CautelaDevolvida">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table class="table table-bordered">
                  
                    <tbody>
                        <tr>
                            <div class="form-group">
                            <td>
                                <label class="form-label">OM:</label>
                                <input asp-for="OM" class="form-control" />
                            </td>
                            <td>
                                <label class="form-label">SEÇÂO:</label>
                                <input asp-for="secao" class="form-control" />

                            </td>
       
        </tr>
        <tr>
            <div class="form-group">
            <td>
                <label class="form-label">MISSÂO:</label>
                <input asp-for="missao" class="form-control" />
            </td>
            <td>
                <label class="form-label">CONTATO:</label>
                <input asp-for="contato" class="form-control" />

            </td>
    </div>
    </tr>
    </tbody>
    </table>
            @*    <div class="row" style="margin-bottom: 4px;">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="form-label">OM:</label>
                                <input asp-for="OM" class="form-control" />
                                <span asp-validation-for="OM" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="form-label">SEÇÂO:</label>
                                <input asp-for="secao" class="form-control" />
                                <span asp-validation-for="secao" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 4px;">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">MISSÂO:</label>
                                <input asp-for="missao" class="form-control" />
                                <span asp-validation-for="missao" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="form-label">CONTATO:</label>
                                <input asp-for="contato" class="form-control" />
                                <span asp-validation-for="contato" class="text-danger"></span>
                            </div>
                        </div>
                    </div>*@
                    <hr/>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th>ITEM</th>
                            <th>MATERIAL</th>
                            <th>QUANTIDADE</th>

                            <th>ITEM</th>
                            <th>MATERIAL</th>
                            <th>QUANTIDADE</th>
                        </tr>
                            
                        </thead>
                        <tbody>


                        <tr>
                            <div class="form-group">
                                <td>ITEM-01</td>
                                    <td>
                                    <label class="form-check-label" value="false" for="gridCheck">
                                    <input type="checkbox" class="form-check-input" asp-for="item01" value=" MOCHILA CFN 45L" name="item01" />
                                    MOCHILA CFN 45L
                                    </label>
                                    </td>
                                <td> <input asp-for="qtd01" class="form-control" /></td>
                            </div>       
                             <div class="form-group">
                                    <td>ITEM-22</td>
                                    <td>
                                        <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value=" BÚSSOLA SILVA" asp-for="item22" class="form-control" />
                    BÚSSOLA SILVA
                                        </label>
                                    </td>
                                    <td>  <input asp-for="qtd22" class="form-control" /></span></td>   
                             </div>
                        </tr>


                        <tr>
                            <div class="form-group">
                                    <td>ITEM-02</td>
                                    <td>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="MOCHILA DE ASSALTO 20L" asp-for="item02" class="form-control" />
                                            MOCHILA  DE ASSALTO 20L
                                        </label>
                                    </td>
                                    <td>  <input asp-for="qtd02" class="form-control" /></span></td>
                            </div>

                        <div class="form-group">  
                                <td>ITEM-23</td>                           
                                    <td>
                                    <label class="form-check-label">
                                    <input asp-for="item23" type="checkbox" class="form-check-input" value="PORTA BÚSSOLA TAT. MOD." />
                                        PORTA BÚSSOLA TAT. MOD.
                                    </label>
    
                                    </td>
                                <td>
                                <input asp-for="qtd23" class="form-control" />
                                </td>
                        </div>
                        </tr>

                        <tr>
        <div class="form-group">
                            <td>ITEM-03</td>
                             <td><label class="form-check-label">
                <input asp-for="item03" type="checkbox" class="form-check-input" value="REFIL HIDRATAÇÃO" />
                REFIL HIDRATAÇÃO
                             </label></td>
        <td> <input asp-for="qtd03" class="form-control" /></td>
                               <td>ITEM-24</td>
                                <td><label class="form-check-label">
                <input asp-for="item24" type="checkbox" value="SACO COLETOR DE CARR. TAT. MOD." class="form-check-input" />
                SACO COLETOR DE CARR. TAT. MOD.
                                </label></td>
        <td>  <input asp-for="qtd24" class="form-control" /></td>
</div>
                        </tr>


                        <tr>

                        <div class="form-group">
                            <td>ITEM-04</td>
                             <td><lable class="form-check-label">
                                <input asp-for="item04" type="checkbox" value="ISOLANTE TÉRMICOC/CAPA" class="form-check-input" />
                                ISOLANTE TÉRMICOC/CAPA
                             </lable></td>
                                <td> <input asp-for="qtd04" class="form-control" /> </td>
                               <td>ITEM-25</td>
                                <td>
                                    <label class="form-check-label">
                                        <input asp-for="item25" class="form-check-input" type="checkbox" value="PORTA GRANADA TAT. MOD." />
                                        PORTA GRANADA TAT. MOD.
                                    </label>
                                </td>
                                <td>  <input asp-for="qtd25" class="form-control" /></td>
                        </div>
                        </tr>
                        <tr>

    <div class="form-group">
                            <td>ITEM-05</td>
                             <td>
                                 <label class="form-check-label">
            <input asp-for="item05" type="checkbox" class="form-check-input" value="CINTO SIMPLES VELCRO S/ ILHÓS" />
            CINTO SIMPLES VELCRO S/ ILHÓS
                                 </label>
                             </td>
    <td> <input asp-for="qtd05" class="form-control" /></td>
                               <td>ITEM-26</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item26" class="form-check-input" type="checkbox" value="SACO DE TRANSPORTE VERDE" />
            SACO DE TRANSPORTE VERDE
                                    </label>
                                </td>
    <td> <input asp-for="qtd26" class="form-control" /></td>
    </div>
                        </tr>
                        <tr>
    <div class="form-group">
                            <td>ITEM-06</td>
                             <td>
                                 <label class="form-check-label">
            <input asp-for="item06" class="form-check-input" type="checkbox" value="COLETE TAT. MOD" />
            COLETE TAT. MOD
                                 </label>
                             </td>
    <td> <input asp-for="qtd06" class="form-control" /></td>

                               <td>ITEM-27</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item27" class="form-check-input" type="checkbox" value="FACÃO" />
            FACÃO
                                    </label>
                                </td>
    <td> <input asp-for="qtd27" class="form-control" /></td>
    </div>
                        </tr>


                        <tr>
                         <div class="form-group">
                            <td>ITEM-07</td>
                            <td>
                                <label class="form-check-label">
            <input asp-for="item07" class="form-check-input" type="checkbox" value="PORTA CARREGADOR M-16 TAT. MOD." />
            PORTA CARREGADOR M-16 TAT. MOD.
                                </label>
                            </td>
    <td><input asp-for="qtd07" class="form-control" /></td>
                            <td>ITEM-28</td>
                            <td>
                                <label class="form-check-label">
            <input asp-for="item28" class="form-check-input" type="checkbox" value="MOCHILA DE HIDRATA25L " />
            MOCHILA DE HIDRATA25L
        </label>
                            </td>
                            <td>
        <input asp-for="qtd28" class="form-control" />
                            </td>

                         </div>
                        </tr>


                        <tr>

    <div class="form-group">
                            <td>ITEM-08</td>
                            <td>
                                <label class="form-check-label">
            <input asp-for="item08" class="form-check-input" type="checkbox" value="PAINEL DE PERNA TAT. MOD." />
            PAINEL DE PERNA TAT. MOD.
        </label>
                            </td>
    <td>  <input asp-for="qtd08" class="form-control" /></td>

                            <td>ITEM-29</td>
                            <td>
                                <label class="fomr-check-label">
            <input asp-for="item29" class="form-check-input" type="checkbox" value="MOSQUITEIRO DE CABEÇA" />
            MOSQUITEIRO DE CABEÇA
                                </label>
                            </td>
    <td> <input asp-for="qtd29" class="form-control" /></td>
    </div>
                        </tr>
                        <tr>
    <div class="form-group">
                            <td>ITEM-09</td>
                            <td>
                                <label class="form-check-label">
            <input asp-for="item09" class="form-check-input" type="checkbox" value="BORNAL TAT. MOD." />
            BORNAL TAT. MOD.
                                </label>
                            </td>
    <td> <input asp-for="qtd09" class="form-control" /></td>
                            <td>ITEM-30</td>
                            <td>
                                <label class="form-check-label">
            <input asp-for="item30" class="form-check-input" type="checkbox" value="MOCHILA DE HIDRATA25L " />
            MOCHILA DE HIDRATA25L
        </label>
                            </td>
    <td><input asp-for="qtd30" class="form-control" /></td>
 </div>
                        </tr>


                        <tr>

    <div class="form-group">
                            <td>item-10</td>
                            <td>
                                <label class="form-check-label">
            <input asp-for="item10" class="form-check-input" type="checkbox" value="COLDRE DE PERNA REGULÁVEL CFN" />
            COLDRE DE PERNA REGULÁVEL CFN
                                </label>
                            </td>
    <td> <input asp-for="qtd10" class="form-control" /></td>
    <td>ITEM-31</td>
                            <td>
  
                                <label class="form-check-label">
        <input asp-for="item31" class="form-check-label" type="checkbox" value="BALACLAVA MALHA VERDE" />
            BALACLAVA MALHA VERDE
                                </label>
                            </td>
   
    <td> <input asp-for="qtd31" class="form-control" /></td>
    </div>
                        </tr>

                        <tr>

    <div class="form-group">
                            <td>ITEM-11</td>
                             <td><label class="form-check-label">
            <input asp-for="item11" class="form-check-label" type="checkbox" value="FIEL RETRÁTIL" />
            FIEL RETRÁTIL
                             </label></td>
    <td><input asp-for="qtd11" class="form-control" /></td>

                               <td>ITEM-32</td>
                             <td>
                                 <label class="form-check-label">
            <input asp-for="item32" class="form-check-input" type="checkbox" value="JOELHEIRA TÁTICA" />
            JOELHEIRA TÁTICA
                                 </label>
                             </td>
    <td>     <input asp-for="qtd32" class="form-control" /> </td>
</div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <td>ITEM-12</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item12" class="form-check" type="checkbox" value="PORTA CARREGADOR PST  TAT. MOD" />
            PORTA CARREGADOR PST  TAT. MOD
                                    </label>
                                </td>
    <td> <input asp-for="qtd12" class="form-control" /></td>
                                <td>ITEM-33</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item33" class="form-check-input" type="checkbox" value="COTOVELEIRA TÁTICA" />
            COTOVELEIRA TÁTICA
                                    </label>
                                    </td>
    <td>  <input asp-for="qtd33" class="form-control" /></td>
                            </div>
                        </tr>

                        <tr>
                            <div class="form-group">
                                <td>ITEM-13</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item13" class="form-check-input" type="checkbox" value="BARRACA IGLU" />
            BARRACA IGLU
                                    </label>
                                </td>
    <td><input asp-for="qtd13" class="form-control" /></td>
                                <td>ITEM-34</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item34" class="form-check-input" type="checkbox" value="PÁ BIARTICULADAC/ESTOJO" />
            PÁ BIARTICULADAC/ESTOJO </label>
                                </td>
    <td> <input asp-for="qtd34" class="form-control"/></td>
                            </div>
                        </tr>

                        <tr>

                            <div class="form-group">
                                <td>ITEM-14</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item14" class="form-check-input" type="checkbox" value=" EDREDOM C/ SACO TRANSPORTE" />
            EDREDOM C/ SACO TRANSPORTE
                                    </label>
                                </td>
    <td> <input asp-for="qtd14" class="form-control" /></td>
                                <td>ITEM-35</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item35" class="form-check-input" type="checkbox" value="APITO VERDE" />
                                        APITO VERDE
                                    </label>
                                </td>
    <td>  <input asp-for="qtd35" class="form-control" /></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <td>ITEM-15</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item15" class="form-check-input" type="checkbox" value="SACO DE DORMIR C/SACO TRANSPORTE" /> 
            SACO DE DORMIR C/SACO TRANSPORTE
                                    </label>
                                </td>
    <td> <input asp-for="qtd15" class="form-control" /></td>

                                <td></td>
                                <td></td>
    <td></td>
                            </div>
                        </tr>

                        <tr>
                            <div class="form-group">
                                <td>ITEM-16</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item16" class="form-check-input" type="checkbox" value="ANORAK" />
            ANORAK
                                    </label>
                                </td>
    <td><input asp-for="qtd16" class="form-control" /></td>
                                <td></td>
                                <td></td>
    <td></td>
                            </div>
                        </tr>

                        <tr>
                            <div class="form-group">
                                <td>ITEM-17</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item17" class="form-check-input" type="checkbox" value="PONCHO" />
            PONCHO
                                    </label>
                                </td>
    <td><input asp-for="qtd17" class="form-control" /></td>

                                <td></td>

                                <td></td>
                                <td></td>
                            </div>
                        </tr>


                        <tr>
                            <div class="form-group">
                                <td>ITEM-18</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item18" class="form-check-input" type="checkbox" value="MARMITA" />
            MARMITA
                                    </label>
                                </td>

    <td> <input asp-for="qtd18" class="form-control" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </div>

                        </tr>
                        <tr>
                            <div class="form-group">
                                <td>ITEM-19</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item19" class="form-check-input" type="checkbox" value="TALHER DE CAMPANHA" />
            TALHER DE CAMPANHA
        </label>

                                </td>
    <td><input asp-for="qtd19" class="form-control" /></td>
                                <td></td>
                                <td></td>
    <td></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <td>ITEM-20</td>
                                <td>
                                    <label class="form-check-label">
            <input asp-for="item20" class="form-check-input" type="checkbox" value="CANTIL" />
            CANTIL
                                    </label>
                                </td>
    <td>  <input asp-for="qtd20" class="form-control" /></td>
                                <td></td>
                                <td></td>
    <td></td>
                            </div>
                        </tr>

                        <tr>

                            <div class="form-check-label">
                                <td>ITEM-21</td>
                                <td>
                                    <label class="form-group">
            <input asp-for="item21" class="form-check-input" type="checkbox" value="CANECO DOCANTIL" />
            CANECO DOCANTIL
                                    </label>
                                </td>
    <td> <input asp-for="qtd21" class="form-control" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </div>
                        </tr>
                        </tbody>

                    </table>

                    <label class="form-label">Observações:</label>
                    <textarea asp-for="observacao" class="form-control">

                    </textarea>



<div class="col-md-12" style="align-items:center; text-align:center; justify-items:center;">
    
    <h4>ENTRADA DE MATERIAL</h4>
</div>
<hr/>
                   
  <table class="table table-bordered">
      <tbody>
          <tr>
              <div class="form-group">
              <td><label class="form-group">MILITAR DEVOLVEDOR</label></td>
            <td><input asp-for="militar_devolvedor" class="form-control" /></td>
            <td>
                <label class="form-label">ASSINATURA</label>
                ______________________________________
            </td>
            </div>
          </tr>


          <tr>
               <div class="form-group">
                   <td><label class="form-label">PAIOLEIRO RECEBEDOR</label></td>
            <td> <input asp-for="paioleiro_recebedor" class="form-control" /></td>
            <td>
                <label class="form-label">ASSINATURA</label>
                ______________________________________
            </td>
               </div>
          </tr>
      
          <tr>
              <div class="form-group">
            <td>  <input asp-for="data_entrada" class="form-control" /></td>
            <td>
                <input asp-for="ano" class="form-control" />
            </td>
            <td>
                <select asp-for="status_devolucao" class="form-control">

                    <option selected>Selecione o Status da Devolução</option>
                    <option>TOTAL</option>
                    <option>PARCIAL</option>
                </select>
            </td>
              </div>
          </tr>
      </tbody>
  </table>
<hr />

<div class="form-group">
    <input type="submit" value="CADASTRAR" class="btn btn-lg btn-block btn-primary" />
</div>
                </form>


        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
