<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EIBC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Paiol_EIBC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/fontawesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" asp-append-version="true" />
  </head>

<body >
    
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="~/img/BreveCurso.png" class="img-reponsive" style="width: 60px;" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">




                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Material
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li> <a class="dropdown-item" asp-area="" asp-controller="Material" asp-action="Index">Listar Material</a> </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Material" asp-action="Create">Cadastrar Material</a></li>

                                </ul>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Material Danificado
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li> <a class="dropdown-item" asp-area="" asp-controller="MaterialDanificado" asp-action="Index">Listar Material Danificado</a> </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="MaterialDanificado" asp-action="Create">Cadastrar Material Danificado</a></li>

                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cautelas
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li> <a class="dropdown-item" asp-area="" asp-controller="Cautela" asp-action="Index">Listar Cautelas</a> </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Cautela" asp-action="Create">Cadastrar Cautelas</a></li>

                                </ul>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuários
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li> <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Index">Listar Usuários</a> </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Create">Cadastrar Usuário</a></li>

                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cautela Devolvida
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li> <a class="dropdown-item" asp-area="" asp-controller="CautelaDevolvida" asp-action="Index">Listar Cautelas Devolvidas</a> </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="CautelaDevolvida" asp-action="Create">Cadastrar Devolução</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Details">Material Fora</a>
                            </li>

                            
                            @* <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@

                        </ul>
                    </div>
                    <span class="text-white">@User.Identity.Name</span>
                </div>
               
                <a class="nav-link text-white d-flex" asp-area="" asp-controller="Home" asp-action="LogOff">  <i class="fa-solid fa-right-from-bracket"></i></a>
            </nav>
        </header>
       
        
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top fixed-bottom bg-dark text-white footer text-muted ">
        <div class="container">
            &copy; 2023 - EIBC - <a> Desenvolvido Por <span class="text-white">3ºSG-FN-AT DYEGO BARROS</span></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/swetalert.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dataTables.min.js"  asp-append-version="true"></script>
    <script src="~/fontawesome/js/fontawesome.min.js" asp-append-version="true"></script>
    <script src="~/fontawesome/js/all.min.js" asp-append-version="true"></script>

  
  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
